
<!DOCTYPE html>
<html lang="en">
@model  List<TattooProject.Models.vwBooking>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Custom CSS -->

    <link href="~/Content/artists.css" rel="stylesheet" />
    <title>TattooCu</title>
</head>


<body id="artists">
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md fixed-top">

        <a class="navbar-brand btn btn-danger" href="landing_page_guest.html">Home</a>

        <div class="d-md-none d-flex">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">@Utiilities.Name @Utiilities.SurName<span class="caret"></span></a>

                    <ul class="pl-1 dropdown-menu bg-dark">
                        <li class="nav-item">
                            <a href="" class="nav-link">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="~/User/BookingList" class="nav-link">Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a href="landing_page_guest.html" class="nav-link">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsed-items"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsed-items">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="~/Artist/ArtistsList" class="nav-link">Artists</a>
                </li>
                <li class="nav-item">
                    <a href="~/Artist/StudioList" class="nav-link">Studio</a>
                </li>
            </ul>
        </div>

        <div class="d-none d-md-block">
            <ul class=" navbar-nav navbar-right">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">@Utiilities.Name @Utiilities.SurName<span class="caret"></span></a>

                        <ul class="dropdown-menu bg-dark mt-2">
                            <li class="nav-item">
                                <a href="~/User/BookingList" class="nav-link">Bookings</a>
                            </li>
                            <li class="nav-item">
                                <a href="landing_page_guest.html" class="nav-link">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
    </nav>


    <div class="d-md-none d-flex">
        <br><br><br><br><br><br><br><br><br><br>
    </div>

    <div class="container">
        <h3 class="mt-5">Booking List:</h3>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" style="color:azure">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Artist Name</th>
                        <th>Artist Surname</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.Id</td>
                            <td>@item.AName</td>
                            <td>@item.ASurname</td>
                            <td>@item.bookingdate</td>
                            <td>@item.time</td>

                            <td class="actions">
                                @Html.ActionLink("Delete", "BookingDelete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>


    <div>
        <br><br><br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>



    <script src="~/Scripts/artist.js"></script>
    <script>

    </script>
</body>

</html>